@media screen and (max-width: 576px) {
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
}
.logo{
    width: 140px;
    height: 42px;
    opacity: 1;
    border-radius: 8px;
    order: 0;
}
.menu{
    width: 66px;
    height: 36px;
    opacity: 1;
    border-radius: 8px;
    position: absolute;
    left: 15px;
}
.button{
    width: 78px;
    height: 36px;
    opacity: 1;
    border-radius: 8px;
    position: absolute;
    right: 15px;
}
.main1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #F1F1F1;
    padding: 0 15px;
    height: 878px;
}
.content,.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 546px;
    height: 267px;
    opacity: 1;
    border-radius: 8px;
    order: 1;

}
.image{
    width: 546px;
    height: 491px;
    opacity: 1;
    border-radius: 8px;
    order: 0;
}
.main2{
    display: flex;
    justify-content: center;
    padding: 25px;
}

.tittlebox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 546px;
    height: 60px;
    border-radius: 8px;
}
.mainbox2{
    width: 576px;
}
.boxes6{
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 524.4px));
    align-items: center;
    gap: 30px;
    padding: 0 10px;
    
}
.box6{
    height: 420px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 30px; */

}
.main3{
    max-width: 576px;
    height: 1140px;
    background-color: #F1F1F1;
    /* padding: 0 25px; */
}
.maintit{
    display: flex;
    justify-content: center;
    padding: 10px 10px;
}

.mainbox2{
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 258px));
    gap: 30px;
    padding: 0 15px;
    
}
.box5{
    height: 300px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main4{
    background-color: #FFFFFF;
    height: 800px;
}
.mantit2{
    display: flex;
    justify-content: center;
    padding: 20px 10px;
}
.containerbox2{
    display: flex;
    justify-content: center;
    padding: 0;
}
.mainbox3{
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 258px));
    gap: 25px;
    padding: 10px 10px;
    
}
.box4{
    height: 300px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
}